body {
    font-family: 'Times New Roman', sans-serif;
    color: snow;
    margin: 0;
    padding: 0;
    background-image: url('/Img/back.gif'); /* Ruta al archivo GIF */
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.titulo{
    font-family: 'Nabla', sans-serif;
}
h1 {
    font-family: 'Nabla', sans-serif;
    text-align: center;
}
.cumple {
    width: 350px;
    height: auto;
    border-radius: 10px
}
.fiesta {
    width: 350px;
    height: auto;
    border-radius: 10px
}
.calendario {
    width: 350px;
    height: auto;
    border-radius: 10px
}
.navbar .navbar-nav .nav-link {
    color: darkgoldenrod;
}
.dos {
    display: flex;
    justify-content: right;
    text-align: right;
}
.tres {
    display: flex;
    justify-content: left;
    text-align: left;
}