body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    color:black;
    background-image: url('/Img/fondos.gif'); /* Ruta al archivo GIF */
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.titulo{
    font-family: 'Nabla', sans-serif;
}
h1 {
    font-family: 'Nabla', sans-serif;
    text-align: center;
}
.cumple {
    width: 400px;
    height: auto;
    border-radius: 10px
}
.fiesta {
    width: 400px;
    height: auto;
    border-radius: 10px
}
.calendario {
    width: 400px;
    height: auto;
    border-radius: 10px
}
.evento{
    width: 400px;
    height: auto;
    border-radius: 10px
}
.uno {
    width: 350px;
    height: auto;
    border-radius: 10px
}
.dos {
    width: 350px;
    height: auto;
    border-radius: 10px
}
.navbar .navbar-nav .nav-link {
    color: orange;
}