@{
    ViewBag.Title = "";
}

<link rel="stylesheet" href="/Content/estilos.css" />
<body>
    
    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1>Event Pro</h1>
            <br/>
            <br/>
            <p class="lead">Event Pro es tu socio experto en la planificación y ejecución de eventos excepcionales. Desde conferencias corporativas hasta eventos sociales y culturales, nuestro equipo dedicado y creativo se encarga de cada detalle para garantizar experiencias memorables y exitosas. Con una combinación única de profesionalismo, innovación y atención personalizada, en Event Pro convertimos tus ideas en eventos extraordinarios.</p>
        </section>
        <br/>
        <br/>
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Crea Eventos</h2>
                <p>
                    <img src="~/Img/cumple.jpg" class="cumple">
                </p>
            </section>

            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Programa Eventos</h2>
                <p>
                    <img src="~/Img/calendario.jpg" class="calendario">
                </p>
            </section>

            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Disfruta con tus amigos y compañeros</h2>
                <p>
                    <img src="~/Img/fiesta.jpg" class="fiesta">
                </p>
            </section>
        </div>
    </main>
</body>