@{
    ViewBag.Title = "";
}

<link rel="stylesheet" href="/Content/estilos.css" />
<body>
    
    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1>Event Pro</h1>
            <br />
            <br />
            <h4 style="color:rgb(0, 0, 0);">Event Pro es tu socio experto en la planificación y ejecución de eventos excepcionales. Desde conferencias corporativas hasta eventos sociales y culturales, nuestro equipo dedicado y creativo se encarga de cada detalle para garantizar experiencias memorables y exitosas. Con una combinación única de profesionalismo, innovación y atención personalizada, en Event Pro convertimos tus ideas en eventos extraordinarios.</h4>
        </section>
        <br />
        <br />
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <p>
                    <img src="~/Img/cumple.jpg" class="cumple">
                </p>
                <h2 id="gettingStartedTitle" style="color:snow;">Gestiona Eventos</h2>
            </section>

            <section class="col-md-4" aria-labelledby="hostingTitle">
                <p>
                    <img src="~/Img/uno.png" class="uno">
                </p>
            </section>

            <section class="col-md-4" aria-labelledby="librariesTitle">
                <p>
                    <img src="~/Img/calendario.jpg" class="calendario">
                </p>
                <h2 id="librariesTitle" style="color:black;">Crea Reuniones</h2>
            </section>
        </div>

        <div class="row">
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <p>
                    <img src="~/Img/fiesta.jpg" class="fiesta">
                </p>
                <h2 id="hostingTitle" style="color:snow;">Programa Fiestas</h2>

            </section>

            <section class="col-md-4" aria-labelledby="hostingTitle">
                <p>
                    <img src="~/Img/dos.png" class="dos">
                </p>
            </section>

            <section class="col-md-4" aria-labelledby="librariesTitle">
                <p>
                    <img src="~/Img/evento.jpg" class="evento">
                </p>
                <h2 id="librariesTitle" style="color:black;">Disfruta con los que más quieres</h2>
            </section>
        </div>
    </main>
</body>