@model ProyectoWebFinal.Models.tipo

@{
    ViewBag.Title = "Delete";
}

<link rel="stylesheet" href="/Content/estilos.css" />
<h2>Eliminar</h2>

<h3>¿Está seguro?</h3>
<div>
    <h4>Tipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
